@model BookATable.ViewModels.Users.UsersListViewModel
@{
    ViewBag.Title = "Users";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

    <style>
        .table th {
            text-align: center;
            color: white;
            font-family: Montserrat, sans-serif;
        }

        .table td {
            text-align: center;
        }
    </style>
</head>

<h2 style="text-align:center;">Users</h2>

@Html.ActionLink("Create new", "Create", "Users", new { @class = "btn btn-info", @style = "background-color: #F4511E; border: none" })

<hr/>

<table class="table">
    <thead style="background-color: #F4511E;">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Phone</th>
            <th>Admin</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>@user.Phone</td>
                <td>@user.IsAdmin</td>
                <td>@Html.ActionLink("Edit", "Edit", "Users", new { id = user.ID }, new { @class = "btn btn-success glypchicon glyphicon-pencil" })</td>
                <td>@Html.ActionLink("Delete", "Delete", "Users", new { id = user.ID }, new { @class = "btn btn-danger" })</td>

            </tr>
        }
    </tbody>
</table>

